.nav {
    background-color: $primary;
    color: $white;
    display: flex;
    justify-content: space-between;
    

    .logo {
        font-size:  3rem;
    }

    .nav-link {
        color: $white;
        padding: 1rem;
        text-decoration: none;
        
    }

    #links {
        display: flex;
        align-items: center;
    
    }
}